<script setup lang="ts">
import { ref } from "vue";
const num = ref(-1);
const size = ref(100);
const showTableInfo = ref([
  {
    "ชื่อ-นามสกุล": "รัตนาลักษณ์ จิตจักร์",
    ชื่อเล่น: "ปลาย",
    เกิด: "17 เมษายน 2545",
    อายุ: "20 ปี",
    สถานศึกษาปัจจุบัน: "มหาวิทยาลัยบูรพา",
  },
  {
    ระดับมัธยมต้น: "โรงเรียนสมุทรปราการ",
    ระดับมัธยมปลาย: "โรงเรียนสมุทรปราการ",
  },
  { งานดิเรก: "ฟังเพลง วาดรูป", อาชีพที่สนใจ: "Softwere Tester" },
  {
    Facebook: "Plai Rattanalak",
    Instagram: "plai_rlx",
    Tel: "098-987-2489",
    Email: "63160079@go.buu.ac.th",
  },
]);
function showInfo(select: number) {
  if (select != -1 && select != num.value) {
    num.value = select;
    size.value = 250;
  } else {
    num.value = -1;
    size.value = 400;
  }
  console.log(showTableInfo.value.length);
}
</script>

<template>
  <container>
    <h1 id="nameProfile">PORTFOLIO</h1>
    <br />

    <v-row>
      <v-col align="center">
        <v-avatar
          :size="size"
          color="black"
          radius="10px"
          style="border: solid #fc8cac 5px"
        >
          <v-img src=".\img\me.jpg" alt="" cover />
        </v-avatar>
        <br />
        <br />
        <br />
        <center>
          <v-btn color="#FC8CAC" dark @click="showInfo(0)">
            ประวัติส่วนตัว
          </v-btn>
          <v-btn color="#FC8CAC" dark @click="showInfo(1)">
            ประวัติการศึกษา
          </v-btn>
          <v-btn color="#FC8CAC" dark @click="showInfo(2)"> งานอดิเรก </v-btn>
          <v-btn color="#FC8CAC" dark @click="showInfo(3)">
            ช่องทางการติดต่อ
          </v-btn>
        </center>
      </v-col>
    </v-row>
    <br /><br />
    <v-row justify="center">
      <v-col cols="5">
        <section v-if="num > -1">
          <v-table style="border: solid rgb(140, 154, 243) 5px">
            <tbody>
              <tr v-for="(item, index) of showTableInfo[num]" :key="index">
                <td style="text-align: center; font-size: 15px">
                  {{ index }}: {{ item }}
                </td>
              </tr>
            </tbody>
          </v-table>
        </section>
      </v-col>
    </v-row>
    <FooterView></FooterView>
  </container>
</template>
<style>
#nameProfile {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100px;
  color: rgb(140, 154, 243);
}

body {
  background-color: lavenderblush;
}

html {
  overflow-y: hidden;
}
</style>
